<!-- footer begins -->
<footer class="border-top text-center small text-muted py-3" id="footer">
 
    <p class="m-0"> <a href="/" class="text-muted">TheWebDev</a> &copy; 2020</p>
    <p class="m-0"> Made with ❤️ by <a href="/" class="text-muted">Amar Gupta</a></p>
  </footer>